/* Media Queries */

/* Screen size less than 700px */

@media only screen and (max-width: 700px) {
    header {
        height: 15vh;
        flex-direction: column;
    }

    header h1 {
        margin: 15px 0 5px;
    }

    header a {
        position: initial;
    }

    .content-block {
        width: 100%;
    }

    #divider {
        width: 100%;
    }

    #answer-block {
        width: 100%;
    }

    #leader-form {
        flex-direction: column;
    }
    
    #leader-form input {
        margin-bottom: 10px;
    }
}

/* Screen size less than 470px */

@media only screen and (max-width: 470px) {
    header h1 {
        font-size: 2.3rem;
    }
}