body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    min-height: 100%;
    background-color: #f0f0f0;
}

/* header CSS */
header {
    height: 10vh;
    background-color: #364f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #f0f0f0;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: center;
    width: 100%;
}

header a {
    position: absolute;
    right: 10%;
    color: #f0f0f0;
    text-decoration: none;
}

header a:hover {
    color: #43dde6;
    font-size: 1.01rem;
}
/* End Header CSS */

/* Main CSS */

#container {
    margin: 100px auto;
    width: 80%;
}

/* Quiz Content */
/* Start Quiz */
.content-block, .question-block {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.question-desc {
    margin-top: 0;
    line-height: 1.5rem;
    text-align: center;
}

.btn {
    background-color: #43dde6;
    border: 2px solid #2fb1b8;
    border-radius: 7%;
    width: 150px;
    margin: 10px 10px;
    padding: 5px 15px;
    color: #364f6b;
    font-size: 1rem;
}

.btn:hover  {
    border: 2px solid #43dde6;
    cursor: pointer;
}

.answer-btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

/* Answer & Time Block */
#divider {
    width: 60%;
}

#answer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

#answer-block p {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.content-block h2 {
    margin-bottom: 10px;
}

ol {
    margin: 0 auto;
}

ol li {
    margin: 5px;
}

#leader-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#leader-form input {
    height: 25px;
    width: 60%;
    border: 1px solid #364f6b;
    color: #364f6b;
    font-size: 0.8rem;
    padding-left: 10px;
}

#leader-form input::placeholder {
    color: #bdbdbd;
}

#leader-form button {
    background-color: #43dde6;
    border: 2px solid #2fb1b8;
    border-radius: 5%;
    font-size: 1rem;
    padding: 5px 15px;
}

/* End Main CSS */

/* Visible or Hidden */
.hide {
    display: none;
}